body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
  }
  
  header {
    background-color: #e87500;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  .green-strip {
    background-color: #154734;
    height: 20px;
  }

  .calendar {
    width: 40%; 
    margin: 0 auto; 
}

  